* {
    margin: 0;
    padding: 0;
    background-color: dimgrey;
}

@font-face {
    font-family: digitalFont;
    src: url(fonts/digital-7/digital-7.ttf);
}

#pomodoro-clock-app {
    width: 100%;
    margin: 5% auto;
    color: antiquewhite;
}

#app-name {
    text-align: center;
    color: darksalmon;
    margin-bottom: 5%;
}


#pomodoro-clock-app .grid-container {
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    font-family: 'Arvo', serif;
}

.arrows button {
    width: 70px;
    margin: 0 10px;
}

.digit {
    font-family: digitalFont;
    color: khaki;
}

button i{
    background-color: unset;
    color: yellowgreen;
}

#breakLength, #sessionLength {
    font-size: 40px;
    font-weight: bolder;
}

@keyframes disapear {
    from {opacity: 1;}
    to {opacity: 0;}
}

.disapear {
    color: black;
    animation-name: disapear;
    animation-duration: .8s;
    animation-delay: .5s;
    animation-iteration-count: 6;
}